html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title LeCast - Lecture Podcast
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="style.css")
  
  body
    form(class = "border-class" action=url method="post" enctype="multipart/form-data")
      div(class="header")
        h2 LeCast - Lecture Podcast
        div(class="list-group")
            a(href="#" class="list-group-item list-group-item-action ") Cras justo odio
        
            a(href="#" class="list-group-item list-group-item-action")Dapibus ac facilisis in
            a(href="#" class="list-group-item list-group-item-action")Morbi leo risus
            a(href="#" class="list-group-item list-group-item-action")Porta ac consectetur ac
        

    form 
    div(class="form-row")
        div(class =" col")
            input(type="text" class="form-control" placeholder= "Neue Vorlesungsreihe" name="NeueVorlesungsreihe")
        
        div (class =" col")
            button(type = "submit" class="btn btn-warning btn-sm mb-2")
             Vorlesungsreihe erstellen
        
       

      