html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Online Video to Audio Converter
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
  body
    div(class="container")
        br
        h1(style="text-align: center;") Online Video to Audio Converter
        - const url = "/convert?id=" + id
        form(action=url method="post" enctype="multipart/form-data")
            div(class="form-group")
                input(type="file" name="file")
            div(class="form-group")
                button(class="btn btn-danger btn-block") Convert
        br
        a(href=rsspath) hier gehts zum RSS-Feed
